
{% macro receiptContainer(display_name, songs, id, duration) -%}
<div class="receiptContainer " id="{{ id }}" style="display: none; ">
    <div class="receiptDownload" >
        
        <img src="../static/ticket.png" width="300px" style="min-width: 300px;" alt="">
        
        <table class=" text-start" style=" color: white; position: absolute; width: 280px; font-weight: bold; top: 110px; left: 50%; transform: translateX(-50%); font-size: 10px; ">
            <thead>
                <tr>
                   <td class=" m-0 p-0  " style="border-bottom: 1px solid white">
                    <p class="date text-start p-0 m-0 px-1" style=" color: white;  font-weight: bolder; font-size: 10px; overflow: hidden; white-space: nowrap; text-overflow: ellipsis;">
                        Taylor Swift: The Eras Tour
                    </p>
                   </td>
                </tr>
                
            </thead>
         </table>

         <table class=" text-start  " style=" color: white; position: absolute; width: 280px; font-weight: bold; top: 135px; left: 50%; transform: translateX(-50%); font-size: 10px; ">
            <thead>
                <tr>
                   <td class=" m-0 p-0  " >
                    <p class="date text-start p-0 m-0 px-1" style="font-weight: bold; color: white; font-size: 10px; overflow: hidden; white-space: nowrap; text-overflow: ellipsis;">
                        {{currentTime|strftime}}
                    </p>
            
                </td>
                </tr>

                <tr>
                    <td class=" m-0 p-0" >
                     <p class="date text-start p-0 m-0 px-1" style="font-weight: bold; color: white; font-size: 10px; overflow: hidden; white-space: nowrap; text-overflow: ellipsis;">
                         {{ duration }}
                     </p> 
                 </td>
                 </tr>

                 <tr>
                    <td class=" m-0 p-0" >
                     <p class="date text-start p-0 m-0 px-1" style="font-weight: bold; color: white; font-size: 10px; overflow: hidden; white-space: nowrap; text-overflow: ellipsis;">
                         SEAT #0001 FOR {{ display_name }}
                     </p>
                                 
                 </td>
                 </tr>
 
                
            </thead>
         </table>
        
        <table class=" text-start  " style=" color: white; position: absolute; width: 280px; font-weight: bold; top: 190px; left: 50%; transform: translateX(-50%); font-size: 10px; ">
            <thead>
                <tr>
                    <td class="begin">
                        NO
                    </td>
                    <td>
                        SONGS
                    </td>
                    <td class="length">
                        AMT
                    </td>
                </tr>
            </thead>

                {% for song in songs %}
                <tr class="" >
                    <td class="begin">
                        {{ loop.index }}
                    </td>
                    <td class="name text-start song-name" >
                        <p class="m-0 p-0" style="white-space: nowrap; overflow: hidden; text-overflow: ellipsis; width: 160px;">
                        {{ song.name }}
                        </p>
                    </td>
                            <td class="length">
                        {{ song.duration_ms | mmss }}
                    </td>
                </tr>
            {% endfor %}

            <tr class="total-counts">
                <td class="begin" colspan="2">
                    ITEM COUNT:
                </td>
                <td class="length">
                    {{ songs | length }}
                </td>
            </tr>
            <tr class="total-counts-end">
                <td class="begin" colspan="2">
                    TOTAL:
                </td>
                <td class="length">
                    {{ (songs | sum(attribute='duration_ms')) | mmss }}
                </td>
            </tr>



            </table>



            <table class=" text-start  " style=" color: white; position: absolute; width: 280px; font-weight: bold; top: 395px; left: 50%; transform: translateX(-50%); font-size: 10px; ">
                <thead>
                    <tr>
                       <td class=" m-0 p-0  " >
                        <p class="date text-start p-0 m-0 px-1" style="font-weight: bold; color: white; font-size: 10px; overflow: hidden; white-space: nowrap; text-overflow: ellipsis;">
                            CARD #: **** **** **** {{ currentTime.tm_year }}

                        </p>
                
                    </td>
                    </tr>
    
                    <tr>
                        <td class=" m-0 p-0" >
                         <p class="date text-start p-0 m-0 px-1" style="font-weight: bold; color: white; font-size: 10px; overflow: hidden; white-space: nowrap; text-overflow: ellipsis;">
                            AUTH CODE: 123421

                         </p> 
                     </td>
                     </tr>
    
                     <tr>
                        <td class=" m-0 p-0" >
                         <p class="date text-start p-0 m-0 px-1" style="font-weight: bold; color: white; font-size: 10px; overflow: hidden; white-space: nowrap; text-overflow: ellipsis;">
                            CARDHOLDER: {{ display_name }}    

                         </p>
                                     
                     </td>
                     </tr>

                     <tr>
                        <td class=" m-0 p-0" >
                         <p class="date text-start p-0 m-0 px-1" style="font-weight: bold; color: white; font-size: 10px; overflow: hidden; white-space: nowrap; text-overflow: ellipsis;">
                            Release date: October 13, 2023    


                         </p>
                                     
                     </td>
                     </tr>
     

     
                    
                </thead>
             </table>

<table class=" text-start" style=" color: white; position: absolute; width: 280px; font-weight: bold; top: 470px; left: 50%; transform: translateX(-50%); font-size: 10px; ">
<thead>
    <tr>
        <td class=" m-0 p-0  text-center" >
        <p class="date text-start p-0 m-0 px-1" style=" color: white;  font-weight: bolder; font-size: 10px; overflow: hidden; white-space: nowrap; text-overflow: ellipsis;">
            THANK YOU FOR BOOKING!
        </p>
        </td>
    </tr>
    
</thead>
</table>

 <table class=" text-start" style=" color: white; position: absolute; width: 280px; font-weight: bold; bottom: 25px; left: 50%; transform: translateX(-50%); font-size: 10px; ">
    <thead>
        <tr>
           <td class=" m-0 p-0  text-center " >
            <p class="date text-start p-0 m-0 px-1" style=" color: white;  font-weight: bolder; font-size: 10px; overflow: hidden; white-space: nowrap; text-overflow: ellipsis;">
                https://swiftify.onrender.com
            </p>
           </td>
        </tr>
        
    </thead>
 </table>

 <table class=" text-start" style=" color: white; position: absolute; width: 280px; font-weight: bold; top: 520px; left: 60%; transform: translateX(-50%); font-size: 10px; ">
    <thead>
        <tr>
           <td class=" m-0 p-0   " >
            <img style="width: 80px; font-size: 10px; overflow: hidden; white-space: nowrap; text-overflow: ellipsis;" src="{{ url_for('static', filename='qr.png') }}">
        </td>
        </tr>
        
    </thead>
 </table>

    <p class="date text-start " style="color: white; position: absolute; width: 80%; font-weight: bold; top: 545px; left: 41%;  font-size: 10px; overflow: hidden; white-space: nowrap; text-overflow: ellipsis;">
        Get your ticket by simply <br> scanning the QR code!    </p>

        </div>

    </div>
{%- endmacro %}
